th {font-size: 30; height:  50px;}





/**********************class******************************/
.head {
    background-color:#C2FFD9 ;
}



.medgroup {width: 150px;
}


.submit {
    height: 80px;
}

.blank {
    width: 10px
}


/***********************ID*******************************/
#Medication {
    width: 100px;
}

#otherdrug {
    width: 92px;

}



#Dosage {
    width: 60px;
}

#Number {
    width: 40px;
}

#Time {
    width: 40px;
}

#adjustdate{
    width: 130px;
}

#medchange {
    width: 70px;
}

#druguse {
    width: 50px;
}

#drugleftover {
    width: 60px;
}

#drugtaken {
    width: 60px;
}

#note {
    width: 200px;
}
